@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to explicitly set the base font size */
html {
  font-size: 70%; /* Equivalent to 15px if default browser font size is 16px */
  /* You can also use fixed pixels like: font-size: 15px; */
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
  cursor: none;
}
